#banner {
  margin: auto 0
}

.app {
  text-align: center
}

.hat {
  width: 25px
}

table {
  margin-left:auto;
  margin-right:auto;
  font-size: 150%;
}

/*.focus {
  margin:10px 10px 10px 10px;
}*/

#clock {
  background-color: rgb(252,91,121)
}

.minutes {
  font-size: 600%
}

