#banner {
  width:75%;
  margin: 0 auto;
  max-width: 500px;
}

.app {
  text-align: center
}

.hat {
  width: 25px
}

table {
  margin-left:auto;
  margin-right:auto;
  font-size: 120%;
}

.focus {
  width:50%;
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}

#clock {
  background-color: rgb(252,91,121)
}

.minutes {
  font-size: 600%
}

.add {
  width: 150px;
  height: 35px;
  margin:4px 5px 2px 5px;
}

@font-face {
  font-family: "Scoreboard";
  src: url("/assets/ufonts.com_scoreboard.ttf") format("truetype");
}

.score {
  font-family: "Scoreboard"
}

.navbar-btn {
  margin: 0px 0px 0px 0px;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
   #banner {
     width:100%;
     margin: 0 auto;
   }
  .focus {
    width:100%;
    margin: 0 auto;
    text-align: center;
  }

}


/*<style type="text/css">
@font-face {
    font-family: "My Custom Font";
    src: url(http://www.example.org/mycustomfont.ttf) format("truetype");
}
p.customfont {
    font-family: "My Custom Font", Verdana, Tahoma;
}
</style>
<p class="customfont">Hello world!</p>*/
